departamento[id]::before{
    content: attr(id) " -Nombre del departamento: " attr(nombre);
    display: block;
}
idioma{
    font-style: italic;
    display: block;
}
idioma::before{
    content: "Idiomas: ";
}
moneda{
    display: flex;
}
moneda[id]::before{
    content: attr(id) " - ";
}
pais{
    background-color: rgb(12, 17, 61);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
descripcion::before{
    content: "Descripción: ";
    display: flex;
}
descripcion{
    display:flex;
}